@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*teste lorenzo git*/
/* Cores principais */
:root {
    --black: #000000;
    --yellow: #EEC924;
    --pink: #EC65AD;
    --blue: #0D6BCB;
    --white: #FFFFFF;
}

strong {
    color: rgb(163, 13, 174)
}

#GITHUB {
    text-decoration: none;
    color:#3c8ce1;
    transition: 0.5s;
}

#GITHUB1 {
    text-decoration: none;
    color:#fc60ff;
    transition: 0.5s;
}

#GITHUB:hover {
    padding:9px;
    font-size: 20px;
    border-radius: 12px;
    background: linear-gradient(to left, rgb(25, 13, 91), rgb(247, 113, 30), rgb(130, 10, 143));
}


body {
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
    background:#626262;
}

button, select {
    margin-top: 6px;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(82, 82, 82);
}


/* Estilo básico para a navbar */
.navbar {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
}

.navbar-brand img {
    width: 80px;
}

button.navbar-toggler {
    border: 1px solid white;
}

/* Estilizando o seletor de idioma */
.language-switcher {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #EC65AD;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.language-switcher:hover {
    border-color: #0D6BCB;
}

/* Estilo para outras partes da página */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

#text-center {
    text-align: justify;
    font-family: "Text Me One", sans-serif;
    font-size: 23px;

}

.btn {
    background-color: #EEC924;
    color: #000;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #EC65AD;
}

.mapa-google {
    border-radius: 7px;
}

.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
    /* Expande a linha azul ao passar o mouse */
}



.navbar-nav .nav-link {
    color: white;
    position: relative;
    margin-right: 20px;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #0D6BCB;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header {
    height: 100vh;
    background-image: url('/img/fundoHS.svg');
    background-size: 110%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    animation: fadeIn 1.5s ease-in-out;

}

.header h1 {
    font-size: 4rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    animation: slideDown 2s ease;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
}

/* Animação de pulinho */
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Define a altura do pulo */
    }
}

/* Aplica a animação ao título */
#header-title {
    display: inline-block;
    animation: jump 2s ease-in-out infinite; /* Animação contínua com um intervalo de 1 segundo */
    color: #ffffff; /* Pode ajustar a cor ou remover */
    font-weight: bold;
}

.btn-main {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    color: var(--white);
    border-radius: 50px;
    padding: 12px 30px;
    margin-top: 20px;
    transition: 0.4s;
    box-shadow: rgb(247, 0, 255) 0px 2px 4px 2px, rgb(247, 0, 255) 0px 2px 16px 5px;
}

.btn-main:hover {
    background-color: rgb(102, 0, 108);
    color: var(--white);
}

.section-title {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    font-family: "Righteous", sans-serif;
}

#texto-gal {
    background-color: #00000080;
    border-radius: 12px;
    width: 70%;
    backdrop-filter: blur(2px);
}

.about-section,
.day-trips-section,
.gallery-section {
    text-align: justify;
    padding: 80px 0;
}

.gallery-section {
    background: linear-gradient(black, rgb(60, 60, 60));
}

.carousel-control-prev-icon {
    background-color: #000000;
    height: 60px;
    border-radius: 15px;
    width: 50px;
    border: 1px solid rgb(255, 255, 255);
}

.carousel-control-next-icon {
    background-color: #000000;
    height: 60px;
    border-radius: 15px;
    width: 50px;
    border: 1px solid rgb(255, 255, 255);
}

#imgca {
    border-radius: 10px;
}

.about-section{
    background-color: var(--black);
    color: var(--white);
    background-attachment: fixed;
}

.day-trips-section {
    position: relative;
    background: linear-gradient(to left, rgb(194, 102, 230), #cfc539, #0049bd);
    color: var(--white);
    background-attachment: fixed;
    padding: 20px;
}

/*testando escurecimento de imagem de fundo*/

.day-trips-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    pointer-events: none; 
}

.day-trips-section > * {
    position: relative;
    z-index: 2;
}

.location-section {
    background-color: var(--black);
    color: var(--white);
    background-attachment: fixed;
}

.card-title {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-size: 30px;
}

.card-text {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Text Me One", sans-serif;
    font-size: 18px;
}

#card-trip-1 .card {
    /* background-color: #0D6BCB; Azul */
    background-color: #000000;
    color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#sm {
    text-decoration: none;
    color: var(--white);
}

#card-trip-2 .card {
    /* background-color: #EC65AD; Rosa */
    background-color: #000000;
    color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#card-trip-3 .card {
    /* background-color: #EEC924; Amarelo */
    background-color: #000000;
    color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-img-top {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Adicione sombras e transições para todos os cards */
.card-trip .card {
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-trip .card:hover {
    transform: translateY(-10px) rotate(-1deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.footer {
    background-color: var(--black);
    padding: 30px 0;
    color: var(--white);
}

.footer a {
    color: var(--yellow);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    max-width: 300px; 
    height: 40px;
    border: 1px solid rgb(195, 195, 195);
    font-size: 0.9rem;
    margin-left: 20px;

}

.bn5:before {
    content: "";
    background: linear-gradient(
        45deg,
        #fcfa7b,
        #5b6bc0,
        #efb2f0,
        #f0e5b2
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.bn5:active {
    color: #000;
}

.bn5:active:after {
    background: transparent;
}

.bn5:hover:before {
    opacity: 1;
}

.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0a0a0ac3;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Estilização do botão flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
    padding: 8px;
}

/* Estilo inicial das seções escondidas */
section {
    opacity: 0;
    transform: translateY(20px); /* Move a seção ligeiramente para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Suaviza a transição */
}

/* Estilo das seções visíveis */
section.visible {
    opacity: 1;
    transform: translateY(0); /* Move a seção para a posição original */
}
